.Board {
    text-align: center;
    background-color: #ebfaff;
    color: #96532d;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #96532d;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.piece-space {
    background: #fff;
    color: #96532d;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 80px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 80px;
}

.move-choice-button {
    float: left;
    font-size: 48px;
    font-weight: bold;
    line-height: 34px;
    height: 80px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 80px;
}

.move-choice-button:hover {
    background: yellow;
    cursor: pointer;
}

.board-row:after {
    clear : both;
    content : "";
    display : table;
}

.log-in-sign-up-input:after {
    clear : both;
    content : "";
    display : table;
}

.homepage {
    text-align: center;
}

html {
    background-color: #ebfaff;
}

.sign-up-log-in-content {
    display: flex;
}

.sign-up-area {
    flex: 50%;
}

.log-in-area {
    flex: 50%;
}

.dashboard {
    text-align: center;
}

.dashboard-options {
    display: flex;
}

.dashboard-option {
    flex: 33.3%;
}
